<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <h1>Medium Crawler</h1>
        </div>
        <div class="search">
            <form action="">
                <input type="text" name="tag" id="tag">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <button onclick="history()"><i class="fa fa-history" aria-hidden="true"></i></button>
        </div>
    </nav>

    <div class="history" id="0">
        <!-- <button class="history-tag"></button> -->
    </div>

    <div class="crawler-hero">
        <div class="related-tags-hero">
            <h2>Related Tags</h2>
            <div class="related-tags">
                <!-- <div class="tag">
                    <button>ABC</button>
                </div> -->
            </div>
            
        </div>

        <div class="blogs">
            <div class="crawled-blogs">
                <!-- <div class="blog">
                    <p class="author">Created By: Aayush</p>
                    <p class="">Created On: 26 May</p>
                    <p>7 min read</p>
                    <img src="https://cdn-images-1.medium.com/1*ojlc01grmcNYgccbHQDtcA.jpeg" alt="">
                    <a></a>
                </div> -->
            </div>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var socket = io();
        
        $('form').submit((e) => {
            e.preventDefault();
            socket.emit('tag' , $('#tag').val());
            document.getElementsByClassName("crawled-blogs")[0].innerHTML = "";
        })
        
        // socket.on('crawled' , (blog) => {

        //     const blogDiv = document.createElement("div");
        //     blogDiv.className= "blog";
        //     const a = document.createElement("a");
        //     a.setAttribute("href" , "/blog/"+blog.blog.id);
        //     a.setAttribute("target", "_blank")
        //     a.innerText = blog.blog.title;
            
        //     const creater = document.createElement("p");
        //     creater.innerText = blog.blog.author;
            
        //     const createdAt = document.createElement("p");
        //     createdAt.innerText = blog.blog.time;

        //     const readingTime = document.createElement("p");
        //     readingTime.innerText = blog.blog.readingTime;

        //     blogDiv.appendChild(a);
        //     blogDiv.appendChild(creater);
        //     blogDiv.appendChild(createdAt);
        //     blogDiv.appendChild(readingTime);

        //     const p = document.createElement("p");
        //     p.innerText = "Time Take to crawl : "+blog.timeTaken;
        //     blogDiv.appendChild(p)

        //     document.getElementsByClassName("crawled-blogs")[0].appendChild(blogDiv)

        // })
        
        socket.on('related-tags',(relatedTags) => {
            document.getElementsByClassName("related-tags")[0].innerHTML = "";
            for(let i=0;i<relatedTags.length;i++){
                const relatedTagsDiv = document.getElementsByClassName("related-tags")[0];
                const button = document.createElement("button");
                button.className = "tag";
                button.innerText = relatedTags[i];
                relatedTagsDiv.appendChild(button)
            }
        })

        socket.on('pending', (blogs) => {
            
            for(let i=0;i<blogs.length;i++){
                const blogDiv = document.createElement("div");
                blogDiv.className = "blog"
                blogDiv.id = blogs[i].id;
                
                blogDiv.innerText = "Pending...";
                document.getElementsByClassName('crawled-blogs')[0].appendChild(blogDiv);
            }
            const showMore = document.getElementsByClassName("show-more");
            document.getElementsByClassName("show-more")[showMore.length-1].style.display = "none";

        })

        socket.on('crawling' , (blog) => {
            const blogDiv = document.getElementById(blog.id);
            blogDiv.innerText = "Crawling...";
        })

        socket.on('crawled' , (blog) => {
            const blogDiv = document.getElementById(blog.id);
            blogDiv.innerHTML = "";

            const creator = document.createElement("p");
            creator.innerText = "Author: "+blog.author;

            const createdAt = document.createElement("p");
            const date = new Date(blog.time);
            let d = date.toString();
            d = d.split(" ");
            const creationDate = d[1] + " " + d[2]; 
            createdAt.innerText = "Created At: "+creationDate;
            
            const readingTime = document.createElement("p");
            readingTime.innerText = blog.readingTime + " min read";

            const img = document.createElement("img");
            img.setAttribute("src", blog.imgURL);

            const title = document.createElement("a");
            title.setAttribute("href","/blog/"+blog.id);
            title.setAttribute("target", "_blank")
            title.innerText = blog.title

            
            blogDiv.appendChild(creator)
            blogDiv.appendChild(createdAt);
            blogDiv.appendChild(readingTime);
            blogDiv.appendChild(img);
            blogDiv.appendChild(title);

            
        })

        socket.on('timeTaken', (data) => {
            const timeDiv = document.createElement('p')
            timeDiv.innerText = "Time Taken to Crawl "+data.time + " ms";
            const blogDiv = document.getElementById(data.blog.id);
            blogDiv.appendChild(timeDiv)
        })

        socket.on('next', (ignoredIds) => {
            
            if(ignoredIds.length!==0){
                const moreBtn = document.createElement("button");
                moreBtn.innerText = "Show More";
                
                // moreBtn.id = "more";
                
                moreBtn.id = ignoredIds;
                moreBtn.className = "show-more";
                
                // moreBtn.setAttribute('onclick','showMore('+ignoredIds+')');

                const lastBlogDiv = document.getElementById(ignoredIds[ignoredIds.length-1]).parentElement;
                
                // const lastBlogDiv = document.getElementsByClassName("blog")[7].parentElement;
                
                lastBlogDiv.appendChild(moreBtn);
                
            }
        })

        // $(document).on("click","#more", () => {
        //     socket.emit('more' , $('#tag').val());
        // })

        $(document).on("click",".show-more", () => {
            const ignoredIds = $(".show-more").last().attr('id').split(",");
            const tag = $('#tag').val();
            // console.log(ignoredIds)
            // document.getElementsByClassName("show-more")[0].style.display = "none";
            socket.emit('more' , {tag,ignoredIds});
        })

        const history = async () => {
            let historyDiv = document.getElementsByClassName('history')[0] .innerHTML="";
            const response = await fetch('/history', {
            method : "GET"
            });

            const history = await response.json();
            historyDiv = document.getElementsByClassName('history')[0];
            for(h in history){
                let button = document.createElement("button")
                button.innerText = history[h].tag;
                historyDiv.appendChild(button);
            }
        }
    </script>
</body>
</html>